@use "./variables.scss" as *;

button {
  background-color: $color-primary;
  color: $background-white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-hover-color;
  }
}
