$color-primary: #566885;
$color-secondary: #ffffff;
$color-background: #e5e5e5;
$color-text: #566885;
$label-color: #666;
$border-color: #ccc;
$background-light: #f0f2f5;
$background-white: #fff;
$primary-hover-color: #0056b3;
$shadow-light: rgba(0, 0, 0, 0.1);

$font-main: "Roboto", sans-serif;
